//-
    Quick Edit
block postQuickEdit
    b:includable(id="postQuickEdit" var="post")
        b:if(cond="data:post.editUrl")
            span(expr:class='"item-control " + data:post.adminClass')
                a(expr:href='data:post.editUrl' expr:title='data:top.editPostMsg')
                    img(alt='' class='icon-action' height='18' src='https://resources.blogblog.com/img/icon18_edit_allbkg.gif' width='18')/

//- 
    
    Share button
b:includable(id='shareButtons' var='post')
    b:if(cond='data:top.showEmailButton')
        <a class='goog-inline-block share-button sb-email' expr:href='data:post.sharePostUrl + &quot;&amp;target=email&quot;' expr:title='data:top.emailThisMsg' target='_blank'>
            span(class='share-button-link-text')
                <data:top.emailThisMsg/>
        </a>
    b:if(cond='data:top.showBlogThisButton')
        <a class='goog-inline-block share-button sb-blog' expr:href='data:post.sharePostUrl + &quot;&amp;target=blog&quot;' expr:onclick='&quot;window.open(this.href, \&quot;_blank\&quot;, \&quot;height=270,width=475\&quot;); return false;&quot;' expr:title='data:top.blogThisMsg' target='_blank'>
            span(class='share-button-link-text')
                <data:top.blogThisMsg/>
        </a>
    b:if(cond='data:top.showTwitterButton')
        <a class='goog-inline-block share-button sb-twitter' expr:href='data:post.sharePostUrl + &quot;&amp;target=twitter&quot;' expr:title='data:top.shareToTwitterMsg' target='_blank'>
            span(class='share-button-link-text')
                <data:top.shareToTwitterMsg/>
        </a>
    b:if(cond='data:top.showFacebookButton')
        <a class='goog-inline-block share-button sb-facebook' expr:href='data:post.sharePostUrl + &quot;&amp;target=facebook&quot;' expr:onclick='&quot;window.open(this.href, \&quot;_blank\&quot;, \&quot;height=430,width=640\&quot;); return false;&quot;' expr:title='data:top.shareToFacebookMsg' target='_blank'>
            span(class='share-button-link-text')
                <data:top.shareToFacebookMsg/>
        </a>
    b:if(cond='data:top.showPinterestButton')
        <a class='goog-inline-block share-button sb-pinterest' expr:href='data:post.sharePostUrl + &quot;&amp;target=pinterest&quot;' expr:title='data:top.shareToPinterestMsg' target='_blank'>
            span(class='share-button-link-text')
                <data:top.shareToPinterestMsg/>
        </a>
    b:if(cond='data:top.showPlusOne')
        div(class='goog-inline-block google-plus-share-container')
            <data:post.googlePlusShareTag/>
